<% provide :title, t("help.title") %>
<h1><%= t "help.title" %></h1>
<p>
  <%= t "help.content_1" %> <%= link_to t("help.content_2"), "http://www.railstutorial.org/help" %> <%= t "help.content_3" %>
  <em><%= link_to t("help.content_4"), "http://www.railstutorial.org/book" %><em>
  <%= t "help.content_5" %>
</p>
