<h1><%= t "home.content_3" %></h1>

<p><%= t "mailer.hi" %> <%= @user.name %></p>

<p>
<%= t "mailer.welcome" %>
</p>

<%= link_to t("mailer.active"), edit_account_activation_url(id:
  @user.activation_token, email: @user.email) %>
